.award-page {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: scroll;
  background-color: #fff;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 2;

    .close-icon {
      width: 20px;
      height: 20px;
    }
  }

  .tabs {
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px;
    background-color: #fff;
    z-index: 1;

    .tab-item {
      position: relative;
      color: #999;
      font-size: 16px;
      padding: 10px 40px;
      cursor: pointer;
      border-bottom: solid 1px #ededed;
    }

    .tab-item.active {
      color: #000;
      border-bottom: solid 1px #000;
    }

    .score-tip {
      position: absolute;
      left: 14px;
      top: 14px;
      font-size: 11px;
      font-weight: bold;
      color: #000;
      background: #f2df7e;
      padding: 2px 4px;
      border-radius: 4px;
      width: max-content;

      .gold-icon {
        position: relative;
        width: 12px;
        height: 12px;
        top: 2px;
        margin-right: 1px;
      }
    }
  }

  .add-btn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 300px;
    margin: 0 auto;
    transform: translateX(-50%);
  }

  .action-tip {
    position: absolute;
    right: 10px;
    width: max-content;
    color: #ccc;
    font-size: 14px;
    cursor: pointer;
  }

  .award-list {
    padding-top: 20px;
    overflow-y: scroll;

    &::webkit-scrollbar {
      display: none;
    }
  }
}

.ticket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  border: solid 1px #ededed;
  border-radius: 4px;
  padding: 8px 16px;

  .award-name {
    font-size: 16px;
    color: #333;
  }

  .award-score {
    font-size: 14px;
    color: #e3b54c;

    .score-icon {
      position: relative;
      top: 2px;
      width: 18px;
      height: 18px;
    }
    .score-value {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  border-bottom: solid 1px #ededed;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;

  &:first-of-type {
    margin-top: 16px;
    border-top: solid 1px #ededed;
  }

  &:nth-of-type(even) {
    background-color: #f6f7f8;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .award-score {
    width: 60px;
    margin-right: 16px;
    color: #e3b54c;

    .score-icon {
      margin-right: 2px;
      position: relative;
      top: 2px;
      width: 14px;
      height: 14px;
    }
  }

  .award-name {
    color: #333;
  }

  .award-time {
    color: #999;
  }
}

.ticket-editor {
  position: relative;
  min-height: 400px;
  padding-bottom: 100px;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;

    .close-icon {
      width: 20px;
      height: 20px;
    }
  }

  .section {
    display: flex;
    padding: 10px 0;
    align-items: center;

    .section-title {
      font-size: 14px;
      color: #333;
      width: 80px;
    }
  }

  .save-btn {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
}
