.mg-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &.mg-popup-pass {
    pointer-events: none;
  }

  &.mg-popup-center {
    .mg-popup-inner {
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
  &.mg-popup-bottom {
    .mg-popup-inner {
      bottom: 0;
    }
  }
}

.mg-popup-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.mg-popup-inner {
  box-sizing: border-box;
  position: absolute;
  color: #333;
  font-size: 14px;
}
