.flat-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .item {
    padding: 4px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 13px;
    color: #666;
    background-color: #fff;
    border-left: none;

    & + & {
      border-left: none;
    }

    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:first-of-type {
      border-left: 1px solid #ccc;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.active {
      border-color: #333;
      color: #fff;
      background-color: #333;
    }
  }
}
