.settings {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: scroll;
  background-color: #f0f0f0;

  .header {
    position: sticky;
    top: 0;
    padding-top: 6px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: solid 1px #ededed;
  }

  .actions {
    padding-top: 6px;
    width: 100%;
    height: 30px;
  }

  .btn {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #36c;
    cursor: pointer;

    &:last-of-type {
      margin: 0;
    }

    &.close {
      position: absolute;
      right: 10px;
      color: #aaa;
    }

    &.danger {
      color: rgb(233, 79, 19);
    }
  }

  .content {
    padding: 0 0 40px;
  }
}

.setting-item {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: solid 1px #ededed;
  background-color: #fff;

  .setting-item-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .label {
    color: #444;
  }

  .value {
    color: #36c;
  }

  .tip {
    margin-top: 4px;
    font-size: 12px;
    color: #999;
  }
}

.section {
  padding: 10px 20px;
  font-size: 12px;
  color: #999;
}

.modal {
  color: #333;
  text-align: left;

  .selects-title {
    padding: 10px 20px;
    font-size: 16px;
    color: #666;
  }
}

.selects {
  padding: 30px;
  .select-option {
    padding: 10px 0;
    font-size: 16px;
    color: #36c;
    border-bottom: solid 1px #ededed;

    .tip {
      margin-left: 16px;
      font-size: 12px;
      color: #aaa;
    }
  }
}

.token-modal {
  .token-input {
    padding: 10px 8px;
    font-size: 16px;
  }

  .ok-btn {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
}
