.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.daka-sheet {
  .header-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  .header {
    margin-top: 30vh;
    width: 100%;
    text-align: center;
    .icon {
      font-size: 72px;
    }

    .title {
      font-size: 24px;
      color: #fff;
      font-weight: 800;
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 10px 16px;
    padding-bottom: 40px;
    width: 100vw;
    min-height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .section {
    display: flex;
    align-items: center;
    .section-title {
      margin-right: 20px;
      font-size: 14px;
      color: #999;
    }
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
    margin-bottom: 40px;
    width: calc(100% - 32px);
  }
}

.rating {
  display: flex;
  align-items: center;
  .rating-value {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    img {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
    &.active {
      filter: grayscale(0%);
      img {
        opacity: 1;
      }
    }
  }
}
