.milestone-editor {
  position: relative;
  text-align: left;
  padding-bottom: 100px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .del {
      display: flex;
      align-items: center;
      color: #999;
      font-size: 14px;
    }

    .trash-icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    .close-icon {
      width: 20px;
      height: 20px;
    }
  }

  .title-input {
    margin-top: 6px;
    font-size: 18px;
  }

  .section {
    position: relative;
    margin-top: 16px;
    display: flex;

    &.hidden {
      display: none;
    }

    .label {
      font-size: 14px;
      flex-shrink: 0;
      width: 64px;
      color: #999;
    }

    .section-input {
      position: relative;
      top: -3px;
    }
  }
  .tip {
    font-size: 12px;
    color: #999;
    padding-left: 64px;
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    width: 100%;
  }
}

.milestone-item {
  margin-top: 10px;
  padding: 4px 10px;
  padding-bottom: 2px;
  border-radius: 4px;
  border: 1px solid #ededed;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .milestone-item-left {
      display: flex;
      align-items: center;
    }

    .title {
      margin-left: 10px;
      font-size: 16px;
      color: #333;

      .time {
        position: relative;
        top: 2px;
        display: inline-flex;
        align-items: center;
        margin-left: 6px;
        font-size: 14px;
        padding: 0 4px;
        background-color: rgba(218, 246, 234);
        color: hsl(136, 100%, 30%);
        border-radius: 4px;

        &.delay {
          background-color: hsl(0, 100%, 90%);
          color: hsl(0, 100%, 30%);
        }

        &.done {
          background-color: hsl(0, 0%, 90%);
          color: hsl(0, 0%, 30%);
        }
      }

      .time-icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }

    .score {
      display: flex;
      align-items: center;

      .score-icon {
        width: 16px;
        height: 16px;
      }

      .score-value {
        margin-right: 4px;
        font-size: 14px;
      }
    }
  }

  .footer {
    display: flex;
    font-size: 12px;
    color: #999;
    padding: 4px 0;
    flex-wrap: wrap;

    .bullet {
      margin-right: 10px;
    }
  }
}
