.task-item {
  position: relative;
  display: flex;
  padding: 4px;
  width: 100%;
  height: 54px;
  border-radius: 4px;
  background: #fff;

  .left {
    flex-shrink: 0;
    width: 30px;
    position: relative;
    margin: 0 6px;
    .icon {
      text-align: center;
      font-size: 30px;
    }
  }

  .main {
  }

  .content {
    .title {
      padding-top: 6px;
      position: relative;
      top: 1px;
      font-size: 14px;
      color: #333;
      word-break: break-all;
    }
  }

  .days {
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .todo-mark {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 16px;
    height: 16px;
    background: #fafafa;
    border-radius: 2px;
    border: solid 1px #cfcfcf;

    .icon {
      display: none;
    }

    &.active {
      background-color: rgba(218, 246, 234);
      border-color: #009929;

      .icon {
        display: block;
      }
    }
  }
}
