.task-item {
  position: relative;
  display: flex;
  padding: 4px;
  width: 100%;
  height: 54px;
  border-radius: 4px;
  background: #fff;

  .left {
    flex-shrink: 0;
    width: 30px;
    position: relative;
    margin: 0 6px;
    .icon {
      text-align: center;
      font-size: 30px;
    }
  }

  .content {
    .title {
      padding-top: 6px;
      position: relative;
      top: 1px;
      font-size: 14px;
      color: #333;
      word-break: break-all;
    }

    .stats {
      margin-left: 2px;
      margin-top: 4px;
    }
  }

  .days {
    display: flex;
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .todo-mark {
    position: absolute;
    right: -3px;
    top: -3px;
  }
}
