.task-editor-modal {
  :global(.mg-modal-body) {
    padding: 0;
  }
  :global(.mg-modal-wrapper) {
    overflow-y: unset;
  }
}

.modal {
  color: #333;
  text-align: left;
}

.task-editor {
  width: 100%;
  padding: 10px 16px;
  padding-bottom: 0;
  min-height: 70vh;
  text-align: left;

  .emoji-input {
    position: absolute;
    top: -25px;
    left: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    &.empty {
      top: -20px;
      background: #ebebeb;
      border-radius: 50%;
      color: #aaa;
      font-size: 24px;
      &::after {
        content: '+';
      }
    }
  }

  .editor-actions {
    display: flex;
    justify-content: space-between;

    .btn {
      display: inline-block;
      margin-right: 20px;
      font-size: 13px;
      color: #333;
      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }

      .close-icon {
        width: 20px;
        height: 20px;
        opacity: 0.8;
      }
    }
  }

  .title-input {
    :global {
      .g-input-style {
        font-size: 18px;
      }
    }
  }

  .desc-input {
    font-size: 15px;
  }

  .actions {
    position: relative;
    display: flex;
    margin-top: 4px;
    width: 100%;
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    width: calc(100% - 32px);
  }

  .section-title {
    margin-top: 16px;

    .label {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 800;
      color: #333;
    }

    .label-icon {
      margin-right: 6px;
      width: 18px;
      height: 18px;
    }
  }
}

.more-menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .more-menu {
    position: absolute;
    top: 40px;
    right: 16px;
    background: #fff;
    border-radius: 8px;
    .menu-item {
      margin: 16px 0;
      width: 80px;
      text-align: center;
      font-size: 16px;
      color: #444;
      cursor: pointer;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

.milestone-area {
  .milestone-list {
    padding-bottom: 100px;
    max-height: 60vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  .add-btn {
    border-radius: 4px;
    color: #fff;
    padding: 4px 10px;
    background: #333;
    font-size: 13px;
  }
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 15px;
  color: #666;
}

.cycle-section-title {
  padding-bottom: 6px;
}

.cycle-editor {
  margin-top: 6px;
  padding: 4px 10px;
  padding-top: 10px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.cycle-checkbox {
  border: solid 1px #333;
  border-radius: 4px;
  padding: 4px 10px;
  color: #333;
  background-color: #f0f0f0;
  .checkbox {
    margin-right: 6px;
  }
}

.weekmin-input {
  margin-left: 6px;
  width: 36px;
  font-size: 18px;
  font-weight: 800;

  &:not(:placeholder-shown) {
    width: 20px;
  }

  &::placeholder {
    margin-left: -100px;
    font-size: 15px;
    font-weight: 400;
  }
}
